
@import '~@angular/material/theming';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 100px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.active {
  background-color: var(--color-primary);
}

.mat-grid-tile {
  font-size: 2em;
}

.mat-grid-tile:hover {
  //filter: brightness(80%);
  // Adds a shadow for elevation level 2 with default color and full opacity:
  @include mat-elevation(5);
}
