<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
  <h1>Convert Epoch</h1>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-nav-list style="padding: 0">
      <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile routerLinkActive="active" routerLink="/time">
          Time
        </mat-grid-tile>
        <mat-grid-tile routerLinkActive="active" routerLink="/about">
          About
        </mat-grid-tile>
      </mat-grid-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
