<mat-grid-list cols="1" rowHeight="100px">
  <mat-grid-tile>
    <span class="code-text"
          (mouseenter)="mouseOver(true)"
          (mouseleave)="mouseOver(false)">
      {{currentTime // 1000}} seconds
    </span>
  </mat-grid-tile>
  <mat-grid-tile>
    <span class="code-text"
          (mouseenter)="mouseOver(true)"
          (mouseleave)="mouseOver(false)">
      {{currentTime}} milliseconds
    </span>
  </mat-grid-tile>
  <mat-grid-tile>
    <span class="code-text"
          (mouseenter)="mouseOver(true)"
          (mouseleave)="mouseOver(false)">
      {{currentTime * 1000}} microseconds
    </span>
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>
</mat-grid-list>
